@{
	ViewData["Title"] = "Login";
	Layout = null;
}
<head>

	<link href="~/assets/css/login.css" rel="stylesheet" />
	
</head>
<body>
	
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#">
				<h1>Destek Talepçi Girişi </h1>
				@* <div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				 *@
				<input type="text" placeholder="Ad" />
				<input type="email" placeholder="Soyad" />
				<input type="password" placeholder="Şifre" />
				<button>Giriş Yap</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Bağışçı Girişi</h1>
			@* 	<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div> *@
				
				<input type="text" placeholder="Ad" />
				<input type="email" placeholder="Soyad" />
				<input type="password" placeholder="Şifre" />
				<button>Giriş Yap</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Hoşgeldiniz!</h1>
					<p>Bağışçı Girişi Yapmak İçin Tıkla!</p>
					<button class="ghost" id="signIn">Bağışçı Girişi</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hoşgeldiniz!</h1>
					<p>Destek Talep Etmek İçin Tıkla!</p>
					<button class="ghost" id="signUp">Destek Talepçi Girişi</button>
				</div>
			</div>
		</div>
	</div>
</body>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
		<script src="~/assets/js/login.js"></script>
	</p>
</footer>

